<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.component.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <title>Login</title>
</head>
<body>
    <div class="contenedor">
        <div class="row align-items-start cont">
            <div class="col-sm col-sm1">
                <form><br>
                    <h1>Inicio de sesión</h1>
                    <div class="form-group">
                        <label class="texto-input">Usuario</label>
                        <input type="email" class="form-control" aria-describedby="emailHelp">
                    </div><br>
                    <div class="form-group">
                        <label class="texto-input">Contraseña</label>
                        <input type="password" class="form-control">
                    </div><br>
                    <div class="boton">
                        <button class="btn">Ingresar</button>
                    </div><br>
                    <div class="d-grid gap-2 text-center">
                        <a class="enlace" href="/contraseña">¿Olvido su contraseña?</a>
                        <a class="enlace" href="/registro">¿No tienes cuenta? Registrate</a><br>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>